*{
    background-color: #200302;
}
div{
    margin: 0;
    padding: 0;

}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
h2{
    text-align: center;
    color: whitesmoke;
    object-fit: cover;
}

.title{
    text-align: center;
    color: #a78584;
    
}
.div2{
    display: flex;
    flex-wrap: wrap;
}
.review{
    text-align: center;
    color: #a78584;
}
